body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  min-height: 100px;
  background-color: black;
  /* max-width: 1400px; */
}

.navbar-brand {
  font-size: 27px;
  /* margin-left: 150px; */
}

.nav_text {
  font-size: 13px;
}
.navbar-nav {
  margin-left: 10px;
}

header {
  margin-top: 100px;
  background-color: black;
}

.carousel {
  margin-bottom: 4rem;
  min-width: auto;
}
.carousel-item {
  height: 441px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 441px;
}

.carousel-caption {
  margin-bottom: 100px;
}
.carousel-caption h1 {
  background-color: #65c25d;
  text-align: center;
  font-size: 34px;
  max-width: 345px;
  min-height: 75px;
  padding-top: 18px;
}

.carousel-caption p {
  background-color: black;
  max-width: 450px;
  min-height: 40px;
  padding-top: 10px;
  font-size: 16px;
}

.cont-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.table h2 {
  /* font-weight: 400; */
  margin-top: 3rem;
  font-size: 38px;
}
.table .col-lg-4 p {
  margin-top: 3rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.pic-porfolio {
  /* background-attachment: fixed; */
  background-image: url("../images/Optional Background Image-1.png");
  /* height: 650px;
  width: 1400px; */
  min-width: auto;
  min-height: 650px;
}
.pic-porfolio h1 {
  font-size: 30px;
  color: white;
  /* padding-top: 5rem; */
  /* padding-left: 10rem; */
}

.img-fluid {
  height: 200px;
  width: 230px;
}
.overlay {
  height: 200px;
  width: 230px;
}

.thunder-conatiner {
  min-height: 500px;
  min-width: auto;
}
.img-comp {
  position: relative;
  bottom: 0;
  min-height: 180px;
  min-width: 380px;
}

.latest-news {
  background-image: url("../images/Optional\ Background\ Image.png");

  min-width: auto;
  min-height: 600px;
}
.latest-news h6 {
  font-size: 14px;
  color: white;
}
.latest-news p {
  font-size: 14px;
  color: white;
}
.latest-news hr {
  background-color: white;
  /* width: "30px"; */
}
.grass-img {
  min-height: 160px;
  min-width: 312px;
}

.testimonial-client {
  min-height: 550px;
  min-width: auto;
  background-color: #f4f4f4;
}

.test-h1 {
  text-align: center;
  font-size: 38px;
}
.test-p {
  text-align: center;
  font-size: 18px;
  color: #707070;
}
.test-p2 {
  text-align: center;
  font-size: 24px;
  color: #707070;
}
.test-cont {
  background-color: white;
  min-height: 170px;
  min-width: auto;
}

.test-button {
  float: center;
}

footer {
  min-height: 500px;
  background-color: black;
}

.col-md-3 p {
  font-size: 14px;
  color: #aaaaaa;
}

.col-md-3 li {
  font-size: 14px;
  color: #aaaaaa;
}
.col-md-3 h5 {
  font-size: 14px;
}
.footer-copyright hr {
  background-color: #aaaaaa;
}
